<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1-0, minium-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Kaizen Digitals</title>
    <!-- Additional CSS Files -->

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/static/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">

    <link rel="stylesheet" href="/static/css/animate.css">

    <link rel="stylesheet" href="/static/css/templatemo-style.css">

    <link rel="stylesheet" href="/static/css/responsive.css">

    <link rel="shortcut icon" type="ico/icon" href="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/ICONO%20BUHO.png">

    </head>
    
    <body>
    
    <div id="video" style="">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="index.php" id="logo" title="" style="">
                        <div class="img-header-kaizen-conteiner">
                            <img class="img-header-kaizen" src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/BUHO%20KAIZEN.png" alt="Kaizen-Digitals-Logo" >
                        </div>
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle">
                                <div class="hamburger-menu">
                                    <div class="line line-1"></div>
                                    <div class="line line-2"></div>
                                    <div class="line line-3"></div>
                                </div>
                            </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Inicio</a></li>
                                    <li data-menuanchor="slide02"><a href="#slide02">¿Quienes Somos?</a></li>
                                    <li data-menuanchor="slide03"><a href="#slide03">Servicios</a></li>
                                    <li data-menuanchor="slide04"><a href="#slide04">Portafolio</a></li>
                                    <li data-menuanchor="slide06"><a href="#slide05">Consulta Gratis</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="img-container-index">
            <img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/NMGRV2e.jpg" style="background-repeat: no-repeat;" alt="Kaizen-Digitals-Web">
        </div>
        <div class="img-container-index1">
            <img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/pexels-markus-spiske-1089438%20-%20copia3.0.jpg" style="background-repeat: no-repeat;" alt="Kaizen-Digitals-Movile">
        </div>


        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box white">
                        <span class="welcome-first animate" data-animate="fadeInUp"><strong></strong></span>
                        <h2 class="white">Diseño y Desarrollo de páginas web y apps</h2>
                        <h1 class="welcome-title animate" data-animate="fadeInUp"></h1>
                        <p class="animate" data-animate="fadeInUp"><strong>OBTÉN UN DISEÑOS Y DESARROLLO DE TU PÁGINA WEB DE CALIDAD 🤩🙌</strong></p>
                        <p><strong>"Si lo puedes imaginar ,lo podemos crear"</strong></p>
                        <div class="scroll-down next-section animate data-animate="fadeInUp=""><img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/SjWIzt2.png" alt="Kaizen-Digitals-Mouse"><span>DESPLÁZATE HACIA ABAJO</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="welcome-box white">
                        <span class="welcome-first animate" data-animate="fadeInUp"></span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">¿Quienes Somos?</h1>
                        <p class="animate" data-animate="fadeInUp"><strong>Somos un equipo de desarrollores con roles y responsabilidades bien definidas para llevar un buen desarrollo en tus proyectos</strong></p>
                        <div class="facts-list owl-carousel white">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="counter-box">
                                    <i class="count-number fas fa-shield-alt" aria-hidden="true"></i><span class="count-number">Seguridad</span>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="counter-box">
                                    <i class="count-number fas fa-medal" aria-hidden="true"></i><span class="count-number">Calidad</span>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="counter-box">
                                    <i class="count-number far fa-handshake" aria-hidden="true"></i><span class="count-number">Confianza</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row margin" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span class="white">Servicios</span>
                                <h2 class="white">¿Que Incluyen Nuestros Servicios?</h2>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box white">
                                            <div class="thumb margin-short">
                                                <img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/WEB.png" alt="Kaizen-Digitals-Webs-Desing">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h3>DISEÑO WEB</h3>
                                                <p>Diseño y desarrollo de sitios web <strong>(responsive, seguridad de datos, auto administrables)</strong>, hechos a la medida de tu marca o negocio.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box white">
                                            <div class="thumb margin-short">
                                                <img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/POSICIONAMIENTO.png" alt="Kaizen-Digitals-Posicionamiento">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h3>POSICIONAMIENTO</h3>
                                                <p>Es necesario que puedas lucir tu página, mejorar el posicionamiento de un sitio web en la lista de resultados de Google, Bing, u otros buscadores de internet y hacer que todos la vean, nosotros te podemos ayudar</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box white">
                                            <div class="thumb margin-short">
                                                <img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/ASESORIA.png" alt="Kaizen-Digitals-Asesoria">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h3>ASESORÍA GRATUITA</h3>
                                                <p>Si aún no entiendes muy bien de que trata todo esto, nos gustaría conocerte y ayudarte a entender de que se trata...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop white">
                                <div class="web-header title-block animate" data-animate="fadeInUp">
                                    <h2 class="white">Portafolio</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <h2 class="white web-movil">Portafolio</h2>
                                                <span>Fabriziosurferwinn</span>
                                                <p>Junto a <strong>fabriziosurferwinn</strong> hicimos una tienda online. Pudimos tomar toda la personalidad de <strong>fabriziosurferwinn</strong> para presentarla en la página web y así todos sus clientes se sientan cómodos, seguros, usandola y comprando 🤍🖤</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                        <div class="col-md-6 about-contentbox2">
                                            <a href="https://fabriziosurferwinn.com/"><figure class="about-img animate" data-animate="fadeInUp"><img src="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/fabriziosurferwinn-final.png" class="rounded" alt="Kaizen-Digitals-FabrizioSurferWinn"></figure></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide07">
                <div class="section-inner white">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Contactanos!</span>
                                <h2>Conversemos 😁</h2>
                            </div>
                            <div class="contact-section">
                                <div class="row">
                                    <div class="col-md-12 animate" data-animate="fadeInUp">
                                        <form id="ajax-contact" method="post" action="#">
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="name" id="name" required placeholder="Nombre 🙎‍♂">
                                            </div>
                                            <div class="input-field">
                                                <input type="email" class="form-control" name="email" id="email" required placeholder="Correo 📧">
                                            </div>
                                            <div class="input-field">
                                                <textarea class="form-control" name="message" id="message" required placeholder="Mensaje 📄"></textarea>
                                            </div>
                                            <button class="btn" type="submit">Enviar</button>
                                        </form>
                                        <div id="form-messages" class="mt-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="social-icons">
            <div class="text-right">
                <ul class="social-icons">
                    <!--<li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>-->
                    <li><a href="https://www.instagram.com/kaizendigitalsnet/" title="Insragram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://kaizendigital.sfo3.digitaloceanspaces.com/Kaizen/qrkaizen.png" title="Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>  

    <script src="/static/js/jquery.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/fullpage.min.js"></script>

    <script src="/static/js/scrolloverflow.js"></script>

    <script src="/static/js/owl.carousel.min.js"></script>

    <script src="/static/js/jquery.inview.min.js"></script>

    <script src="/static/js/form.js"></script>

    <script src="/static/js/custom.js"></script>


  </body>
</html>